body { background-color: #B1D0E0;
margin: 0;
}


div {background-color:#406882 ;

}
a {
  position: absolute;
  bottom: 10px ;

}
/*************************classes*********************/
.a {
  margin-top: 0;
  color :#CEE5D0; }
.Mid-c{
  height: 200px;
  width: 200px;
  background-color: gold;
}
.Bot-c{
  height: 200px;
  width: 200px;
  background-color: silver;
}
.itc {
    color: #ffffff;
    text-decoration: none;
    background-color: #30475E;
    border-left-width: 200px;
   padding-right: 100px;
   padding-left: 100px;
   left: 0px;
   right: 0px;
   padding-bottom: 20px;
   bottom: 0px;
   top: 500px;
   font-size: 60px;


}
.commom { height:600px;
  width: 900px ;
  background-image: url("https://pbs.twimg.com/media/FH7zYkhWQAYo0M6?format=jpg&name=900x900");
  position: relative;
  left: 50px;
}
.commom1 {  height:600px;
  width: 900px ;
  background-image: url("https://pbs.twimg.com/media/FH7zYkUWQAYCM-P?format=jpg&name=900x900");

  position: relative;
  left: 50px;
}

.commom2 {  height:600px;
  width: 900px ;
  background-image: url("https://pbs.twimg.com/media/FH7zWffWQBsPq1B?format=jpg&name=900x900");
  position: relative;
  left: 50px;
}
 .commom3 {  height:600px;
   width: 900px ;
   background-image: url("https://pbs.twimg.com/media/FH7zWffWUAMdmGJ?format=jpg&name=900x900");
   position: relative;
   left: 50px;
 }

  .commom4 {  height:600px;
    width: 900px ;
    background-image: url("https://pbs.twimg.com/media/FH7zWfeWQAoOEy9?format=jpg&name=900x900");
    position: relative;
    left: 50px;
 }

   .commom5 { height:600px;
     width: 900px ;
     background-image: url("https://pbs.twimg.com/media/FH7zWfgXwAIFgA5?format=jpg&name=900x900");
     position: relative;
     left: 50px;
 }

 .black {
   color: white ;
 }
